<h3>Messages</h3>

<% @discussion_thread.messages.each do |message| %>
  <div class="message">
    <p><strong><%= message.user.email %></strong>: <%= message.content %></p>

    <% if message.user == current_user %>
      <%= link_to "Edit", edit_discussion_thread_message_path(@discussion_thread, message), class: "btn btn-warning btn-sm" %>
      <%= link_to "Delete", discussion_thread_message_path(@discussion_thread, message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
    <% end %>
  </div>
<% end %>

<%= link_to "New Message", new_discussion_thread_message_path(@discussion_thread), class: "btn btn-primary" %>
